<div class="login-container">
  <form [formGroup]="loginUserGroup" (ngSubmit)="onSubmitLoginForm()">
    <h2 class="title">{{title}}</h2>
    <div class="inputs">
      <div class="row col-12 md:col-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText placeholder="Username" formControlName="userName">
          </div>
      </div>
      <div class="row col-12 md:col-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon password-icon" (click)="togglePasswordType()"><i [class]="passwordTypePassword ? 'pi pi-eye-slash' : 'pi pi-eye' "></i></span>
              <input [type]="passwordTypePassword ? 'password' : 'text' " pInputText placeholder="Enter Password" formControlName="password">
          </div>
      </div>
      <div class="btn">
        <button pButton pRipple type="button submit" icon="pi pi-check-circle" class="p-button-rounded p-button-secondary" [disabled]="loginUserGroup.invalid"></button>
      </div>
      <br>
      <small>Don't have an account? <span style="color: #F24C4C; cursor: pointer;" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</span></small>
      <br>
      <small style="color: #7C3E66; cursor: pointer;">Forgot Password?</small>

    </div>
  </form>
</div>
